@media (max-width: 767px)  {
  /* ===========NAVIGATION===========*/

  header{
    margin-top: 0;
  }

  .navigation {
    height: auto;
    padding: 20px;
  }

  .nav-bar {
    display: flex;
    flex-direction: row;
    justify-content:start;
    align-items: flex-end;
    padding: 10px;
    height: 40px;
    margin-top: 0;
  }

  .nav-bar button{
    display: none ;
  }

  .menu-option {
    display: none;
  }

  /* ========= HAMBURGER MENU FOR MOBILE ============ */

  .hamburger-menu {
    display: block;
  }

   .hamburger-menu{
    top: 30px;
  }

  /* =======MOBILE MENU=========== */

  .menu-option {
    display: none;
  }


  .show-mobile-menu {
    right: 0;
  }

  .mobile-menu {
    position: fixed;
    top: 80px;
    width: 90%;
  }

  .mobile-nav ul {
    list-style: none;
    padding-left: 5px;
    padding-top: 10px;
    margin-left: 0;
  }
  /* =========MOBILE SUB MENU OPTIONS=========== */

  .sub-menu-1{
    max-height: 300px;
    
    
   
  }

  .sub-menu-1 ul li a{
   font-size: 12px;
  }

  .sub-menu-1 ul li{
    padding: 5px;
    margin: 5px;
  }
 

  /* =========HERO SECTION =========== */
  .hero {
    padding-top: 50px;
  }

  .hero h1 {
    font-size: 30px;
    line-height: 48px;
    width: 100%;
    height:fit-content;
    padding-bottom: 15px;
    
    
  }

  .p1 {
    font-size: 18px;
    line-height: 24px;
    width: 100%;
    padding: 20px;
    margin-bottom:30px;
    
  }


  /* =========REDUCED BUTTON SIZE========= */

  button {
    width: 150px; /* Reduced width */
    height: 40px; /* Reduced height */
    border: none;
    border-radius: 16px;
    background-color: #6FC247;
    color: #FFFFFF;
    font-size: 16px; /* Reduced font size */
    font-weight: 700;
    line-height: 22px; /* Adjusted line height */
    padding: 8px; /* Reduced padding */
    cursor: pointer;
  }
  
  button a {
    display: flex;
    align-items: center;
    color: inherit;
    font-size: 16px; /* Reduced font size */
    text-wrap: nowrap;
  }
  
  button a .material-symbols-outlined {
    margin-left: 8px;
  }
  
  button:hover {
    background-color: #FFFFFF;
    color: #6FC247;
    border: 1px solid #6FC247;
  }
  
  .login {
    width: 150px; /* Reduced width */
    height: 40px; /* Reduced height */
    border: 1px solid #6FC247;
    border-radius: 16px;
    opacity: 0px;
    background: #ffffff;
    font-size: 16px; /* Reduced font size */
    font-weight: 700;
    line-height: 22px; /* Adjusted line height */
    margin-left: 20px;
  }
  
  .login:hover {
    background: #6FC247;
    color: #FFFFFF;
    border: 1px solid #6FC247;
  }
  
  .demo1 {
    color: #FFFFFF;
  }
  
  .demo1:hover {
    color: #6FC247;
  }
  
  .demo2 {
    color: #6FC247;
  }
  
  .demo2:hover {
    color: #fff;
  }
  
  .buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 70px;
    /* gap: 10px; */
    text-align: center;
    padding: 60px 10px 30px 10px;
  }
  

  .request-a-demo, .login{
    width: 170px;
    padding: 5px;
    gap: 15px;
    
  }

  .buttons a {
    font-size: 14px;
    width: 100%;
    justify-content: center;
    text-align: center;
  }

  /* =========BANNER SECTION =========== */
  .banner img {
    width: 100%;
    height: auto;
    padding-top: 0px;
  }

  /* =========== STRUSTED BY SECTION ============= */
  .trusted-by {
    padding: 30px;
    width: 100%;
  }

  .heading-subtext{
    display: grid;
    width: 100% !important;
    height: 120px;
    }

  .heading-subtext h2 {
   width: 100%;
    font-size: 24px;
    line-height: 32px;
    text-wrap: wrap;
  }

  .heading-subtext p {
    font-size: 16px;
    line-height: 24px;
    padding-top: 30px;
  }

  .gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-top: 40px;
  }

  /* ========== WHY VALUTICO SECTION =============*/

  .why-valutico-frame {
    width: 100%;
    height: 95vh;
  }

  .why-valutico{
    display: grid;
    flex-wrap: wrap;
    padding: 10px;
  color: #FFFFFF;
  align-items: center;
  }

  .heading-and-sub-heading {
    width: 100%;
    margin-bottom: 0;
  }

  .heading-and-sub-heading h3 {
    font-size: 24px;
    line-height: 32px;
    width: 100%;

  }

  .heading-and-sub-heading p {
    font-size: 16px;
    line-height: 24px;
    width: 100%;
    padding: 10px;
  }

  /* ==========FOOTER SECTION=========== */

  .list {
    grid-template-columns: 1fr;
    width: 100%;
    gap: 30px;
    padding: 10px;
    margin-top: 70px;
  }

  .secure, .reliable, .dedicated{
    box-shadow: 0px 4px 4px 3px #ffffffc7;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    padding: 10px;
  }


  .last{
    display: grid ;
    grid-template-columns: 1fr;
    padding: 50px 5px;
    width: 100%;
    height: 100vh;
    padding-bottom: 20px;
    margin-bottom: 30px;
    gap: 5;
    }
    
    
    .heading-and-sub-heading1 {
    display: flex;
    flex-direction: column;
      width:100%;
    height:100%;
    justify-content: center;
    text-align: center;
    padding-bottom: 0px;
      
    }
    
    .heading-and-sub-heading1 h3{
      display: flex;
      width: 100%;
    font-size: 32px;
    font-weight: 800;
    line-height: 54.64px;
    text-align: center;
    padding-bottom: 0px;
    color: #373737;
    padding-top: 5px;
    
    }
    
    .heading-and-sub-heading1 p{
      display: flex;
      justify-content: center;
      width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    flex-wrap: wrap;
    color: #373737;
    height: 100%;
    }
    
    .last-column{
      display: flex;
      flex-direction: column-reverse;
      box-shadow: none !important;
      margin-top: 0;
      padding-top: 0px;
      flex-wrap: wrap;
      row-gap: 0;
    }
    
    .last-card{
      display: flex;
      flex-direction: column;
      width:100%;
      gap: 10px;
      height: 550px;
      box-shadow: none;
    }
    
    .card1, .card2, .card3{
      width: 100%;
      height: 50;
      padding:10px ;
      gap: 20px;
      box-shadow: 0px 4px 4px 0px #0000000D;
    }

    .card3{
      margin-bottom: 0;
    }

  .foto {
    width: 100%;
    height: auto;
    margin-top: 0px;
    padding: 20px;
    margin-bottom: 0;
  }

  .last{
    margin-bottom: 30px;
  }
}









