/* Media Query for Tablet View */

@media (max-width: 992px) and (min-width: 768px) {

  /* =============> ADJUST NAVIGATION <============== */
  .nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    gap: 20px;
  }

  .nav-bar button{
    display: none ;
  }

  .menu-option {
    display: none;
  }

  .hamburger-menu {
    display: block;
  }

 


  /* =============> ADJUST HERRO SECTION <============== */
  .hero {
    padding-top: 50px;
  }

  .hero h1 {
    font-size: 48px;
    line-height: 60px;
    width: 100%;
    margin-bottom:2px !important;
  }

  .p1 {
    font-size: 20px;
    line-height: 30px;
    width: 100%;
    padding: 0 10px;
   
  }

  .buttons {
    padding-top:10px ;
  }

  /*============ADJUST BANNER IMAGE============= */
  .banner img {
    width: 100%;
    height: auto;
  }

  /* ================ADJUST MAIN / TRUSTED BY SECTION============ */
  .trusted-by {
    padding: 50px;
  }

  .heading-subtext {
    width: 100%;
  }

  .heading-subtext h2 {
    width: 100%;
    font-size: 24px;
    line-height: 36px;
    padding-bottom: 10px;
  }

  .heading-subtext p {
    font-size: 16px;
    line-height: 24px;
    padding-top: 10px;
  }

  .gallery {
    grid-template-columns: repeat(3, 1fr);
  }

  .gallery img {
    width: 100%;
    height: auto;
  }

  /* ===============ADJUST ASIDE/WHY VALUTICO SECTION=============== */

  .why-valutico-frame {
    height: 80vh;
    padding: 50px;
  }

  .why-valutico {
    display: grid;
    width: 100%;
    height: 100;
  }

  .heading-and-sub-heading{
    height:15px;
    padding-bottom: 30px;
  }

  .heading-and-sub-heading h3 {
    font-size: 32px;
    line-height: 40px;
  }

  .heading-and-sub-heading p {
    width: 100%;
    font-size: 16px;
    line-height: 24px;
  }

  .list {
    grid-template-columns: 1fr;
    width: 100%;
    gap: 10px;
    padding-top: 100px;
    
  }

  .heading-and-sub-heading1 {
    height:10px;
    padding-bottom: 20px;
      
    }

  .card1, .card2, .card3 {
    width: 100%;
    padding:  10px 20px;
   
  }

  .last-card h4{
    font-size: 24px;
    line-height: 36px;
  }

  .last-card{
    width: 100%;
    box-shadow: none;
    margin-top: 5px;
  }

  

  .secure,
  .reliable,
  .dedicated {
    width: 100%;
    box-shadow: 0 0 8px ;
    padding: 10px;
    border-radius: 15px;

  }

  /* ============FOOTER/LAST SECTION============= */

  .last {
    /* padding: 50px ; */
  }

  .heading-and-sub-heading1 {
    width: 100%;
  }

  .heading-and-sub-heading1 h3 {
    font-size: 24px;
    line-height: 36px;
    padding-bottom:10px ;
    padding-top: 100px;
  }

  .heading-and-sub-heading1 p {
    width: 100%;
    font-size: 16px;
    line-height: 24px;
  }

  .last-column {
    flex-direction: row;
    gap: 10px;
    padding-top: 10px;
  }

  .last-card {
    width: 100%;
    box-shadow: none;
  }

  .card1,
  .card2,
  .card3 {
    width: 100%;
    padding-left: 0;
    padding-bottom: 20px;
  }

  .foto {
    width: 100%;
    height: 90%;
    
  }
}